body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: aqua;
    padding: 2%
}

table tr td{
    padding-top: 2%;
    /* background-color: bisque; */
}
#heading{
    text-align: center;
    font-size: medium;
    padding: 1%;
}

button{
    padding: 1%;
    margin-top: 2%;
    text-align: center;
}

footer{
    background-color: yellow;
    padding: 1%;
}